@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,300&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}


.div1 {
  overflow: hidden;
  background-color: #3a97fb;

}



.div1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 22px;
}

.div1 a:hover {
  background-color: #087dfa;
  color: #f2f2f2;
}

.div1 a.active {
  background-color: #04aa6d;
  color: white;
}

.div1 .icon {
  display: none;
}

@media screen and (max-width: 750px) {

  .div1 a {
    display: none;
    float: right;
    padding: 20px 30px;
  }
  .div1 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .div1.responsive {
    position: relative;
  }
  .div1.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .div1.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
